body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

.loan-input {
  margin: 20px;
}

.btn-circle.btn-sm {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  font-size: 15px;
}

.submit {

clear: both;

}

.newLine {
  padding: 0%
  margin-left: 2%;
  margin-top: 10px;
  width: 22%;
  text-align: center;
  float: left;
  background-color: #cacaca;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 10px;

}



.or {
margin: 0px;
padding: 0px;
}

.reveal-active {
  display: none;
}

input[value="subsidized"]:checked ~ .reveal-active {
  display: block;
}

.graduation-date {
  margin: auto;
}

.calculate-button {
  position: fixed;
  bottom: 5vh;
  transform: translateX(-50%);
}

.lineInfo{
  min-height: 20px;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom:20px;
  background-color: #cacaca;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  //width: 90%;
}

.container {
  clear:right;
  width: 75%;
  margin-top: 10px;
  text-align: center;
  float: right;
}

