body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.loan-input {
  margin: 20px;
}

.btn-circle.btn-sm {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  font-size: 15px;
}

.reveal-active {
  display: none;
}

input[value="subsidized"]:checked ~ .reveal-active {
  display: block;
}

.graduation-date {
  margin: auto;
}

.calculate-button {
  position: fixed;
  bottom: 5vh;
  transform: translateX(-50%);
}
