
<h1>Welcome!</h1>
<div class="header">
    <p>
        Student debt has been a growing issue in the United States for a number of years.
        This website is here to help you map out your plan of attack for your student loans and help
        combat this rising crisis. Type in different loan criteria to compare their effect on overall
        time necessary to pay them off. Use this resource to make smart decisions choosing and paying off
        your loan and take back your financial freedom!
    </p>
</div>