---
title: Loan Simulator
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var maxField = 10; //Input fields increment limitation
    var addButton = $('.add-button'); //Add button selector
    var wrapper = $('.field-wrapper'); //Input field wrapper
    var fieldHTML = `
    
  <div class="loan-input">
    <div class="loan-balance">
      <label>Loan Balance:</label>
      <input type = "text" name="principal${x}" id = "principal${x}"  />
    </div>
    <div class="interest-rate">
      <label>Interest Rate:</label>
      <input type = "text" name="interestRate${x}" id = "interestRate${x}" />
    </div>
    </div>` //New input field html 
    var x = 1; //Initial field counter is 1
    
    //Once add button is clicked
    $(addButton).click(function(){
        //Check maximum number of input fields
        if(x < maxField){ 
            x++; //Increment field counter
            $(wrapper).append(fieldHTML); //Add field html
        }
    });
    
    //Once remove button is clicked
    $(wrapper).on('click', '.remove_button', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); //Remove field html
        x--; //Decrement field counter
    });
});
</script>


<h1>Enter Loans</h1>
 <form action="/payment_page.php" target="_blank">
  <fieldset class="field-wrapper">
  <div class="loan-input">
    <div class="loan-balance">
      <label>Loan Balance:</label>
      <input type = "text" name="principal" id = "principal"  />
    </div>
    <div class="interest-rate">
      <label>Interest Rate:</label>
      <input type = "text" name="interestRate" id = "interestRate" />
    </div>
  </div>
    </fieldset>
    <div class="button-block">
      <button type="button" class="btn btn-primary btn-circle btn-sm add-button">+</a>
    </div>
    <div class="button-block">
      <button type="button" class="btn btn-primary calculate-button" onclick = "loadPayments()">Calculate</button>
    </div>
  
 </form>
