---
title: Loan Simulator
---

<h1>Enter Loans</h1>
 <form id="form" action="/output.html">
  <fieldset class="field-wrapper">
  <div class="loan-input">
    <h5>Loan 1:</h5>
    <div class="loan-balance">
      <label for="loan-balance">Loan Balance:</label>
      <input type = "number" class="principal" name="principal" min="1" step=".01" required />
    </div>
    <div class="interest-rate">
      <label for="interest-rate">Interest Rate (%):</label>
      <input type = "number" class="interest" name="interestRate" max="100" min="1" step="0.01" required />
    </div>
    <div class="subsidized-option">
      <label for="subsidize-option">Subsidized:</label>
      <input type = "radio" class="subsidized" name="subsidize1" value="unsubsidized" required>Unsubsidized</input>
      <input type = "radio" class="subsidized" name="subsidize1" value="subsidized">Subsidized</input>
      <label class="reveal-active" for="graduation-date">Graduation Month:</label>
      <input class="graduation-date reveal-active" type="month" name="graduation-month" value="2020-05">
    </div>
    </fieldset>
    <div class="button-block">
      <button type="button" class="btn btn-primary btn-circle btn-sm add-button">+</a>
    </div>
    <input href="output.html" type="submit" type="button"  class="btn btn-primary calculate-button" value="Calculate"></input>
  </div>
 </form>
