<input id="monthlyPayment" placeholder="Enter monthly payment">
<input id="numOfYears" placeholder="Enter number of years">
<button type="button" onclick="submit()">submit</button>

<p id="demo"></p>

<script>
function submit() {
	var x, y;

	// Get the values of the input fields
	x = document.getElementById("monthlyPayment").value;
	y = document.getElementById("numOfYears").value;

	document.getElementById("demo").innerHTML = x + ", " + y;
}
</script>


