<input id="monthlyPayment" placeholder="Enter monthly payment">
<input id="numOfYears" placeholder="Enter number of years">
<button type="button" onclick="submit()">submit</button>

<p id="demo"></p>

<div id="myDiv"></div>


<!-- Plotly.js -->
<script>

var x = localStorage.getItem("loansArray");

var trace1 = {
  a: [1, 2, 3, 4],
  b: [10, 15, 13, 17],
  type: 'scatter',
};

var trace2 = {
  a: [ 1, 1, 1, 1],
  b: [16, 5, 11, 9],
  type: 'scatter'
};


console.log(x[0][0] + " " + x[0][1]);
for (i = 0; i < x.length; i++) {
}

var data = [trace1, trace2];

Plotly.newPlot('myDiv', data);

</script>

<script>

function submit() {
	var x, y;

	// Get the values of the input fields
	x = document.getElementById("monthlyPayment").value;
	y = document.getElementById("numOfYears").value;

	document.getElementById("demo").innerHTML = x + ", " + y;
}
</script>


