<input id="monthlyPayment" placeholder="Enter monthly payment">
<input id="numOfYears" placeholder="Enter number of years">
<button type="button" onclick="submit()">submit</button>

<p id="demo"></p>

<script>

function submit() {
	var x, y;

	// Get the values of the input fields
	x = document.getElementById("monthlyPayment").value;
	y = document.getElementById("numOfYears").value;

	document.getElementById("demo").innerHTML = x + ", " + y;
}
</script>

<div id="Graph"></div>


<!-- Plotly.js -->
<script>

var initial_data = JSON.parse(localStorage.getItem("loansArray"));

var x_axis = [];

var i, j;
for (i=0; i< 30; i++) {
	x_axis.push(i);
	
}

var data = [];

data.length = initial_data.length;



console.log(initial_data);
console.log(initial_data[0]);

for (i = 0; i< data.length; i++) {

  y_axis = [initial_data[i][0]];
  interest_val = initial_data[i][0];
  
  for (j = 0; j < x_axis.length -1; j++) {
    interest_val*= (1 + initial_data[i][1]/100);
    y_axis.push(interest_val);
  }

  var temp = {
    x: x_axis,
    y: y_axis,
    type: 'scatter'
  }

  data[i] = temp; 
}

console.log(data);

Plotly.newPlot('Graph', data);

</script>



